<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VPNJE-AIO</title>

  <!-- Bulma is included -->
  <link rel="stylesheet" href="css/main.min.css">
  <link rel="stylesheet" href="css/materialdesignicons.min.css">
  <link rel="stylesheet" href="css/vpnje.css">

  <!-- Fonts -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
</head>
<body>
<div id="app">
  <!-- Navbar -->
  <nav id="navbar-main" class="navbar is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
        <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
      </a>
    </div>
    <div class="navbar-brand is-right">
      <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu">
        <span class="icon"><i class="mdi mdi-dots-vertical"></i></span>
      </a>
    </div>
    <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
      <div class="navbar-end">
        <a href="https://justboil.me/bulma-admin-template/one-html" title="About" class="navbar-item has-divider is-desktop-icon-only">
          <span class="icon"><i class="mdi mdi-help-circle-outline"></i></span>
          <span>About</span>
        </a>
        <a title="Log out" class="navbar-item is-desktop-icon-only">
          <span class="icon"><i class="mdi mdi-logout"></i></span>
          <span>Log out</span>
        </a>
      </div>
    </div>
  </nav>
  <!-- End navbar -->

  <!-- Sidebar -->
  <aside class="aside is-placed-left is-expanded">
    <div class="aside-tools has-background-success">
      <div class="aside-tools-label">
        <span><b>{{ title }}</b> - AIO</span>
      </div>
    </div>
    <div class="menu is-menu-main">
      <p class="menu-label">General</p>
      <ul class="menu-list">
        <li>
          <a href="index.html" class="is-active router-link-active has-icon">
            <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
            <span class="menu-item-label">Dashboard</span>
          </a>
        </li>
      </ul>
      <p class="menu-label">VPN SETTINGS</p>
      <ul class="menu-list">
        <li>
          <a href="wireguard.html" class="has-icon">
            <span class="icon has-update-mark"><i class="mdi mdi-earth"></i></span>
            <span class="menu-item-label">Wireguard</span>
          </a>
        </li>
        <li>
          <a href="forms.html" class="has-icon">
            <span class="icon"><i class="mdi mdi-earth"></i></span>
            <span class="menu-item-label">Openvpn</span>
          </a>
        </li>
        <li>
          <a href="profile.html" class="has-icon">
            <span class="icon"><i class="mdi mdi-earth"></i></span>
            <span class="menu-item-label">V2ray</span>
          </a>
        </li>
      </ul>
      <p class="menu-label">Settings</p>
      <ul class="menu-list">
        <li>
          <a href="profile.html" class="has-icon">
            <span class="icon"><i class="mdi mdi-clock-outline"></i></span>
            <span class="menu-item-label">Sync Time</span>
          </a>
        </li>
        <li>
          <a href="profile.html" class="has-icon">
            <span class="icon"><i class="mdi mdi-restart"></i></span>
            <span class="menu-item-label">Restart</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <!-- End Side bar -->

  <section class="hero is-hero-bar">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <div class="level-item"><h1 class="title">
            Dashboard
          </h1></div>
        </div>
        <div class="level-right" style="display: none;">
          <div class="level-item"></div>
        </div>
      </div>
    </div>
  </section>

  <!-- Main status -->
  <section class="section is-main-section">
    <div class="tile is-ancestor">
      <!-- Wireguard status -->
      <div class="tile is-parent">
        <div class="card tile is-child">
          <div class="card-content">
            <div class="level is-mobile">
              <div class="level-item">
                <div class="is-widget-label"><h3 class="subtitle is-spaced">
                  Wireguard
                </h3>
                  <h1 
                    class="title"
                    :class="[wgisConnect ? 'has-text-success' : 'has-text-danger']"
                  >
                    <span v-if="wgisConnect">Connected</span>
                    <span v-else>Disconnect</span>
                  </h1>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon">
                  <span 
                    class="icon is-large"
                    :class="[wgisConnect ? 'has-text-primary' : 'has-text-danger']"
                  >
                    <i class="mdi mdi-earth mdi-48px"></i>
                  </span>
                </div>
              </div>
            </div>
            <hr>
            <div class="field has-addons has-addons-centered">
              <p class="control has-icons-left">
                <span class="select is-rounded">
                  <select>
                    <option selected>Wg Config</option>
                    <option>vpnje-wg01</option>
                    <option>vpnje-wg02</option>
                  </select>
                </span>
                <span class="icon is-small is-left">
                  <i class="mdi mdi-cog"></i>
                </span>
              </p>
              <p class="control">
                <button 
                  @click="toggleWireguard" 
                  :class="[wgisConnect ? 'is-danger' : 'is-success']"
                  class="button is-rounded">
                  <span class="icon is-small">
                    <i 
                      class="mdi"
                      :class="[wgisConnect ? 'mdi-stop' : 'mdi-play']"
                    ></i>
                  </span>
                  <span v-if="wgisConnect">Stop</span>
                  <span v-else>Start</span>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Openvpn status -->
      <div class="tile is-parent">
        <div class="card tile is-child">
          <div class="card-content">
            <div class="level is-mobile">
              <div class="level-item">
                <div class="is-widget-label"><h3 class="subtitle is-spaced">
                  Openvpn
                </h3>
                  <h1 
                    class="title"
                    :class="[ovisConnect ? 'has-text-success' : 'has-text-danger']"
                  >
                    <span v-if="ovisConnect">Connected</span>
                    <span v-else>Disconnect</span>
                  </h1>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon">
                  <span 
                    class="icon is-large"
                    :class="[ovisConnect ? 'has-text-primary' : 'has-text-danger']"
                  >
                    <i class="mdi mdi-earth mdi-48px"></i>
                  </span>
                </div>
              </div>
            </div>
            <hr>
            <div class="field has-addons has-addons-centered">
              <p class="control has-icons-left">
                <span class="select is-rounded">
                  <select>
                    <option selected>Ovpn Config</option>
                    <option>vpnje-ov01</option>
                    <option>vpnje-ov02</option>
                  </select>
                </span>
                <span class="icon is-small is-left">
                  <i class="mdi mdi-cog"></i>
                </span>
              </p>
              <p class="control">
                <button 
                  @click="toggleOpenvpn" 
                  :class="[ovisConnect ? 'is-danger' : 'is-success']"
                  class="button is-rounded">
                  <span class="icon is-small">
                    <i 
                      class="mdi"
                      :class="[ovisConnect ? 'mdi-stop' : 'mdi-play']"
                    ></i>
                  </span>
                  <span v-if="ovisConnect">Stop</span>
                  <span v-else>Start</span>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- V2ray status -->
      <div class="tile is-parent">
        <div class="card tile is-child">
          <div class="card-content">
            <div class="level is-mobile">
              <div class="level-item">
                <div class="is-widget-label"><h3 class="subtitle is-spaced">
                  V2ray
                </h3>
                  <h1 
                    class="title"
                    :class="[vrisConnect ? 'has-text-success' : 'has-text-danger']"
                  >
                    <span v-if="vrisConnect">Connected</span>
                    <span v-else>Disconnect</span>
                  </h1>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon">
                  <span 
                    class="icon is-large"
                    :class="[vrisConnect ? 'has-text-primary' : 'has-text-danger']"
                  >
                    <i class="mdi mdi-earth mdi-48px"></i>
                  </span>
                </div>
              </div>
            </div>
            <hr>
            <div class="field has-addons has-addons-centered">
              <p class="control has-icons-left">
                <span class="select is-rounded">
                  <select>
                    <option selected>V2rayConfig</option>
                    <option>vpnje-vless</option>
                    <option>vpnje-trojan</option>
                  </select>
                </span>
                <span class="icon is-small is-left">
                  <i class="mdi mdi-cog"></i>
                </span>
              </p>
              <p class="control">
                <button 
                @click="toggleV2ray" 
                :class="[vrisConnect ? 'is-danger' : 'is-success']"
                class="button is-rounded">
                <span class="icon is-small">
                  <i 
                    class="mdi"
                    :class="[vrisConnect ? 'mdi-stop' : 'mdi-play']"
                  ></i>
                </span>
                <span v-if="vrisConnect">Stop</span>
                <span v-else>Start</span>
              </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- System info -->
  <section class="section is-main-section">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="card tile is-child">
          <header class="card-header">
            <p class="card-header-title">
              <span class="icon"><i class="mdi mdi-information default"></i></span>
              System Status
            </p>
          </header>
          <div class="card-content">
            <div class="table-container">
              <table class="table is-hoverable is-fullwidth">
                <tbody>
                  <tr>
                    <td>Hostname</td>
                    <td>{{ hostname }}</td>
                  </tr>
                  <tr>
                    <td>Version</td>
                    <td>{{ version }}</td>
                  </tr>
                  <tr>
                    <td>CPU type</td>
                    <td>{{ cpu }}</td>
                  </tr>
                  <tr>
                    <td>Uptime</td>
                    <td>{{ uptime }}</td>
                  </tr>
                  <tr>
                    <td>Current date/time</td>
                    <td>{{ currentDateTime }}</td>
                  </tr>
                  <tr>
                    <td>Memory Usage</td>
                    <td><progress class="progress is-info" value="45" max="100">45%</progress></td>
                  </tr>
                  <tr>
                    <td>Disk Usage</td>
                    <td><progress class="progress is-info" value="30" max="100">45%</progress></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="card tile is-child">
          <header class="card-header">
            <p class="card-header-title">
              <span class="icon"><i class="mdi mdi-account default"></i></span>
              Profile
            </p>
          </header>
          <div class="card-content">
            <div class="is-user-avatar image has-max-width is-aligned-center">
              <img src="https://avatars.dicebear.com/v2/initials/john-doe.svg" alt="John Doe">
            </div>
            <hr>
            <div class="field">
              <label class="label">Name</label>
              <div class="control is-clearfix">
                <input type="text" readonly value="John Doe" class="input is-static">
              </div>
            </div>
            <hr>
            <div class="field">
              <label class="label">E-mail</label>
              <div class="control is-clearfix">
                <input type="text" readonly value="user@example.com" class="input is-static">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End system info -->
</div>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/axios.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript" src="js/vpnje.js"></script>
</body>
</html>
